/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bin/
.idea/
pdg-core.iml
.project
.classpath
dev-resources/**
doc/**
settings.xml
*.iml
**/*.iml
.settings
.settings/**
